:root {--azul-principal: #1d22cc;
    --preto-secundario: #000000;
    --botao-azul: #050153;
    --cor-de-fundo: #a02727;
}
body {
    background-color: var(--cor-de-fundo);
    background-color: var(--cor-de-fundo);
color: var(--branco-principal);
}
    }

